<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu</title>
</head>

<body>
    <h1>Đặt lại mật khẩu</h1>
    <% if (message) { %>
        <p>
            <%= message %>
                <%= token %>
        </p>
        <% } %>
            <form action="http://127.0.0.1:3000/api/v1/users/reset-password/<%= token %>" method="get">
                <label for="password">Mật khẩu mới:</label>
                <input type="password" id="password" name="newPassword" required>
                <br>
                <label for="confirmPassword">Xác nhận mật khẩu:</label>
                <input type="password" id="confirmPassword"required>
                <br>
                <button type="submit">Đặt lại mật khẩu</button>
            </form>
</body>

</html>